<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-light navbar-expand-lg">
    <a class="navbar-brand" href="/">Comp - 2106</a>
    <ul class="navbar-nav mr-auto">
        <li class=""nav-item"><a class="nav-link" href="/shiv">Shiv</a></li>
        <li class=""nav-item"><a class="nav-link" href="/rama">rama</a></li>
        <li class=""nav-item"><a class="nav-link" href="/hemant">hemant</a></li>
        <li class=""nav-item"><a class="nav-link" href="/neha">neha</a></li>
        <li class=""nav-item"><a class="nav-link" href="/shivangi">Shivangi</a></li>

    </ul>
</nav>






















